body{
    margin: 0;
    background: white;
    font-family: 'Prompt', sans-serif;
    color: gray;
}

nav{
    width: 100%;
    height: 80px;
    background: white;
    position: fixed;
    text-align: center;
    z-index: 1;
}

ul{
    display: inline-block;
    list-style: none;
    text-align: center;
}

li{
    float: left;
    margin: 8px;
    text-decoration: none;
    font-style: normal;
}

section{
    width: 100%;
    height: 60vh;
    float: left;
    text-align: center;
}

i{
    width: 33%;
    font-size: 10px;
    color: red;
    float: left;
    margin-top: 20px;
}

i:hover{
    color:darkred;
}

#section-1{
    background-color: black 
}

#section-2{

}

#section-3{
    background-color: black
}

#section-5{

}

#section-6{
    background-color: black
}

#section-7{

}

#section-8{
    background-color: black
}

#section-9 article{

}

#section-10{
    background-color: black
}
